body{
	background-color:rgb(73, 166, 228);
}

.main-content{
	display: flex;
	flex-wrap: 
}
.main-content > div{
	background-color: rgb(186, 213, 227, 0.8);
	display: flex;
	flex: 1;
	margin:10px;
	height:500px; 
	border-radius: 3%;
}
div:hover{
	background-color: rgb(186, 213, 227, 1);
	display: flex;
	flex: 1.1;
	margin:10px;
	height:510px; 
	opacity: 1;
}