#menuBar{
	display:block;
}

.sticky{
	width: 100%;
}

.template{
    direction: rtl;

	color:white; 
	background-color:#50759b; 
	box-shadow: 3px 3px 5px black;

	margin:0px;
	border-bottom: 2px solid black;
	padding: 15px 15px 15px 15px; 
}


ul > li:hover {
	background-color: rgba(255,255,255,0.2);
	border-radius: 10%;
	border-color: grey;

	animation-name: bold_tab;
	animation-duration: 0.2s;
}

@keyframes bold_tab {
	from {background-color:#50759b;}
	to {background-color: rgba(255,255,255,0.2);}
}

body {
	color:white;
	background-color:#476b6b;
	margin:0px;
}


li {
	display:inline;
	padding:1em;
}

.main-content{
	display: flex;
	flex-wrap: 
}
.main-content > div{
	background-color: rgb(186, 213, 227, 0.8);
	display: flex;
	flex: 1;
	margin:5px;
	height:500px; 
	border-radius: 3%;
}
div:hover{
	background-color: rgb(186, 213, 227, 1);
	display: flex;
	flex: 1.1;
	margin:10px;
	height:510px; 
	opacity: 1;
}

.pop-out-menu {
	display: flex;
	flex-flow: wrap;
}

.pop-out-menu > div{
	background-color: rgb(186, 213, 227, 0.8);
	
	
	height: 500px;
	margin: 5px;
	border-radius: 3%;
}
