
.box-animation:hover {
	position:relative;

	animation-name: change_color;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes change-color {
	from {background-color: salmon;}
	to {background-color: lightblue;}
}

@keyframes change_color {
	0% {background-color: red;}
	15% {background-color: orange; top:10px; left:10px;}
	30% {background-color: yellow; top:20px; left:20px;}
	45% {background-color: green; top:30px; left:30px;}
	70% {background-color: blue; top:40px; left:40px;}
	100%  {background-color: purple; top:50px; left:50px;}
}
