#myID {
	
}

* {
	all tags are selected
}

main {
	the main tag is selected
}

h2:hover, h1:hover, p:hover {
	color:white;
	background-color:darkslategrey;
	all h2, h1, and paragraphs are selected
}

ul > li:hover {
	background-color:limegreen;
	any list item under an unordered list
}

p + h2 {
	
	any h2 after a paragraph
}

[href] {	
	attributes can be selected.
}

label {
	label is not an attribute its an individual element
	background-color:yellow;
}

li[title="lemons"] {
	title*="lem" can do the same thing as long as it has the lem in the title
}

input:checked {
	box-shadow: 2px 2px 2px red;
	background-color:yellow;
}

input:focus {
	box-shadow: 2px 2px 2px red;
	background-color:yellow;
}